.logo {
    width: 120px;
    height: 60px;
    position: fixed;
    margin-left: 2%;
    margin-top: 5px;
}
* { padding: 0; margin: 0; text-decoration: none; list-style: none; } /* 전체 초기화 */
nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #030432;
    box-shadow: 0 0 5px rgb(0,0,0,.5); /* 그림자 더 진하게 */
}
nav div {
    display: flex;
    position: relative;
    width: 750px;
    margin: 0 auto;
}
nav div a {
    flex: 1; /* 공통 사이즈 */
    display: block;
    height: 75px; /* 높이 사이즈 */
    line-height: 75px; 
    text-align: center;
    color: #fff;
}
nav div a.on {
    color: darkturquoise;
}
nav div > span {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100px;
    height: 3px;
    background: #fff;
    opacity: 0;
    transition: all .5s;
}

nav div a:nth-child(1).on ~ span { left: 22px; opacity: 1;}
nav div a:nth-child(2).on ~ span { left: 175px; opacity: 1;}
nav div a:nth-child(3).on ~ span { left: 325px; opacity: 1;}
nav div a:nth-child(4).on ~ span { left: 473px; opacity: 1;}
nav div a:nth-child(5).on ~ span { left: 623px; opacity: 1;}
